@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap);
@import url(https://fonts.google.com/specimen/Karla);
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

button {
  height: 40px;
  width: 120px;
  text-align: center;
  border: 1px solid hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(270deg, 9%, 17%);
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: small;
  text-transform: uppercase;
}
button:hover {
  color: hsl(256deg, 26%, 20%);
  background-color: hsl(0deg, 0%, 98%);
}

header {
  font-family: "DM Serif Display", serif;
}
header nav {
  background-color: hsl(0deg, 0%, 98%);
}
header nav .list ul li a {
  color: hsl(216deg, 30%, 68%);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
header nav .list ul li a:hover {
  color: hsl(256deg, 26%, 20%);
}
header .front {
  color: hsl(0deg, 0%, 98%);
  padding-bottom: 0px;
}
header .front .dark {
  background-color: hsl(256deg, 26%, 20%);
}

main {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}
main hr {
  border-top: 1px solid hsl(256deg, 26%, 20%);
}
main .flexCont h3 {
  color: hsl(270deg, 9%, 17%);
}
main .flexCont .flex {
  color: hsl(276deg, 4.55%, 56.86%);
}
main .bottom {
  background-color: hsl(256deg, 26%, 20%);
  color: hsl(0deg, 0%, 98%);
}

footer {
  display: block;
  background-color: hsl(0deg, 0%, 98%);
}
footer .list {
  color: hsl(276deg, 4.55%, 56.86%);
}

.attribution {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@media screen and (min-width: 376px) {
  h1 {
    font-size: 68px;
    margin-bottom: 30px;
    line-height: 60px;
    font-weight: 200;
    font-family: "DM Serif Display", serif;
  }
  hr {
    border-top: 1px solid hsl(0deg, 0%, 98%);
    width: 25%;
    margin-bottom: 50px;
  }
  .container {
    padding: 0px 120px;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
  }
  header nav .list ul {
    list-style: none;
  }
  header nav .list ul li {
    display: inline-block;
    margin-left: 10px;
  }
  header .front {
    position: relative;
  }
  header .front h1 {
    font-size: 68px;
    margin-bottom: 30px;
    line-height: 60px;
    font-weight: 200;
  }
  header .front p {
    margin-bottom: 50px;
  }
  header .front .dark {
    padding: 100px 120px;
  }
  header .front .dark .jumbot {
    width: 48%;
  }
  header .front #desk {
    position: absolute;
    top: 0;
    right: 0;
  }
  header .front #mobile {
    display: none;
  }
  header .front #leftDesk {
    position: relative;
    bottom: 200px;
  }
  header .front #leftMob {
    display: none;
  }
  header .front .mob {
    top: 80px;
    display: block;
    position: absolute;
    right: 120px;
  }
  main {
    margin-top: -120px;
    margin-bottom: 100px;
  }
  main .bottom {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  main .bottom h1 {
    font-size: 68px;
  }
  main .bottom .right {
    text-align: end;
  }
  main .bottom h1 {
    flex: 6;
  }
  main .bottom .right {
    flex: 2;
  }
  .flexCont {
    display: flex;
    justify-content: space-between;
  }
  .flexCont .flex {
    margin: 40px 30px 3px 30px;
  }
  .flexCont .flex h3 {
    margin: 30px 0px;
    font-size: 28px;
  }
}
footer {
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  font-family: "Karla", sans-serif;
  padding: 50px 0px;
}
footer hr {
  border: solid 1px hsl(273deg, 4%, 51%);
  width: 100%;
}
footer .footTop {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
footer .footTop .social {
  letter-spacing: 15px;
}
footer .link {
  display: flex;
  justify-content: space-between;
}
footer .link .cont {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 2em;
  margin-right: 100px;
  letter-spacing: 2px;
}
footer .link .cont .list {
  margin: 20px auto;
  color: hsl(216deg, 30%, 68%);
}
footer .link .cont ul {
  list-style: none;
}
footer .link .cont ul li a {
  text-decoration: none;
  color: hsl(256deg, 26%, 20%);
  font-size: 14px;
}

@media screen and (max-width: 375px) {
  * {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }
  header nav {
    display: none;
  }
  header .front #desk {
    display: none;
  }
  header .front #leftDesk {
    display: none;
  }
  header .front #mobile {
    display: none;
  }
  main {
    margin: 0;
    padding: 0;
  }
  main .bottom {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */